.button {
	-fx-background-radius: 10px;
}

.root {
	-fx-background-image: url("background.png");
	-fx-background-size: 700 400;
}

#imageUser {
	-fx-background-radius: 30;
	-fx-background-image: url("dog.png");
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}