.button {
	-fx-background-radius: 10px;
}

.root {
	-fx-background-image: url("/game_resources/background.png");
	-fx-background-size: cover;
}

#imageView {
	-fx-image: url("/game_resources/dog.png");
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#woodButton:hover{
	-fx-image: url("/game_resources/wood_button_hover.png");
}

#woodButton{
	-fx-image: url("/game_resources/wood_button.png");
}

#woodNewButton:hover{
	-fx-image: url("/game_resources/wood_button_new_hover.png");
}

#woodNewButton{
	-fx-image: url("/game_resources/wood_button_new.png");
}

#woodVisitButton:hover{
	-fx-image: url("/game_resources/wood_button_visit_hover.png");
}

#woodVisitButton{
	-fx-image: url("/game_resources/wood_button_visit.png");
}

#woodExitButton:hover{
	-fx-image: url("/game_resources/wood_button_exit_hover.png");
}

#woodExitButton{
	-fx-image: url("/game_resources/wood_button_exit.png");
}

#unlockedButton:hover{
	-fx-image: url("/game_resources/wood_button_unlocked_hover.png");
}

#unlockedButton{
	-fx-image: url("/game_resources/wood_button_unlocked_hover.png");
}

#anchor {
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

#newGame{
	-fx-font-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#video {
	-fx-image: url("/game_resources/wood_button_video_hover.png");
}

#video:hover {
	-fx-image: url("/game_resources/wood_button_video_hover.png");
}

#theme {
	-fx-image: url("/game_resources/wood_button_theme.png");
}

#theme:hover {
	-fx-image: url("/game_resources/wood_button_theme_hover.png");
}

#bgm {
	-fx-image: url("/game_resources/wood_button_bgm.png");
}

#bgm:hover {
	-fx-image: url("/game_resources/wood_button_bgm_hover.png");
}

#coinLabel {
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,1), 6, 0.0, 0, 2);
}

#relistenButton{
	-fx-image: url("../../.media/UNMUTED.png");
}

#galleryPreviewPirate{
	-fx-image: url("/game_resources/background_pirate.png")
}

#galleryPreviewForest{
	-fx-image: url("/game_resources/background.png");
}

#galleryPreviewSpooky{
	-fx-image: url("/game_resources/spookyPreview.gif");
}

#galleryPreviewBuck{
	-fx-image: url("/game_resources/bigPreview.gif");
}