.button {
	-fx-background-radius: 10px;
}

.root {
	-fx-background-image: url("/game_resources/background_pirate.png");
	-fx-background-size: cover;
}

#imageView {
	-fx-image: url("/game_resources/dog.png");
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#help {
	-fx-image: url("/game_resources/logo_help.png");
}

#woodButton:hover{
	-fx-image: url("/game_resources/wood_button_hover.png");
}

#woodButton{
	-fx-image: url("/game_resources/wood_button.png");
}

#woodNewButton:hover{
	-fx-image: url("/game_resources/wood_button_new_hover.png");
}

#woodNewButton{
	-fx-image: url("/game_resources/wood_button_new.png");
}

#woodVisitButton:hover{
	-fx-image: url("/game_resources/wood_button_visit_hover.png");
}

#woodVisitButton{
	-fx-image: url("/game_resources/wood_button_visit.png");
}

#woodExitButton:hover{
	-fx-image: url("/game_resources/wood_button_gallery_hover.png");
}

#woodExitButton{
	-fx-image: url("/game_resources/wood_button_gallery.png");
}

#lockedButton:hover{
	-fx-image: url("/game_resources/wood_button_locked_hover.png");
}

#lockedButton{
	-fx-image: url("/game_resources/wood_button_locked_hover.png");
}

#purchasedButton:hover{
		-fx-image: url("/game_resources/wood_button_purchased_hover.png");
}

#purchasedButton {
	-fx-image: url("/game_resources/wood_button_purchased_hover.png");
}

#anchor {
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

#newGame{
	-fx-font-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#video {
	-fx-image: url("/game_resources/wood_button_video.png");
}

#video:hover {
	-fx-image: url("/game_resources/wood_button_video_hover.png");
}

#theme {
	-fx-image: url("/game_resources/wood_button_theme.png");
}

#theme:hover {
	-fx-image: url("/game_resources/wood_button_theme_hover.png");
}

#bgm {
	-fx-image: url("/game_resources/wood_button_bgm.png");
}

#bgm:hover {
	-fx-image: url("/game_resources/wood_button_bgm_hover.png");
}

#relistenButton{
	-fx-image: url("/game_resources/UNMUTED.png");
}

#coinLabel {
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,1), 6, 0.0, 0, 2);
}

#galleryPreviewPirate{
	-fx-image: url("/game_resources/background_pirate.png");
}

#galleryPreviewForest{
	-fx-image: url("/game_resources/background.png");
}

#galleryPreviewSpooky{
	-fx-image: url("/game_resources/spookyPreview.gif");
}

#galleryPreviewBuck{
	-fx-image: url("/game_resources/bigPreview.gif");
}
